* {
  font-family: Helvetica;
  color: seashell;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
  font-size: 22px;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*----- Navigation Bar -----*/

#navbar {
  top: 0px;
  position: fixed;
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  font-family: Verdana;
  font-weight: bold;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

#navbar nav {
  margin-right: 30px;
}

#navbar .logo {
  align-items: center;
  display: flex;
  margin-left: 10px;
  margin-right: 50px;
}

#navbar a {
  text-decoration: underline;
  color: white;
  font-weight: bold;
  margin: 0 10px;
}

.logo img {
  height: 50px;
}

/*---- Mission ----*/

.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin: 70px auto 0;
}

#mission-bar {
  width: 1200px;
  opacity: 0.9;
  background-color: black;
  position: absolute;
  margin-top: 150px;
}

.info-bar {
  width: 100%;
  height: auto;
  opacity: 0.9;
  background-color: black;
}

/*---- Featured Teas ----*/

.item img {
  display: block;
  height: 200px;
  width: 300px;
  margin: 10px;
}

#featured {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 70px auto 0;
}

.item {
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
}

.item span {
  padding: 10px 0px;
}

/*---- Locations ----*/

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  margin: 70px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
}

.stores {
  display: block;
  width: 300px;
  height: 250px;
  opacity: 1;
  justify-content: center;
  margin: 130px 20px;
  background-color: black;
}

.stores p {
  justify-content: center;
  margin: 27px auto 0;
}

#locations h2 {
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 34px;
  margin-top: 70px;
  margin-bottom: 15px;
}

/*----- Footer -----*/

.footer {
  text-align: center;
  flex-direction: column;
  height: 250px;
  width: auto;
  color: white;
  padding-top: 30px;
}

.foot2 {
 padding-left: 20px;
 text-align: left;
}
